{
	"extends": "standard",
	"globals": {
		"atom": true,
		"beforeEach": true,
		"describe": true,
		"expect": true,
		"it": true,
		"module": true,
		"require": true,
		"spyOn": true
	},
	"rules": {
		"semi": ["error", "never"],
		"space-before-function-paren": ["error", {
			"anonymous": "ignore",
			"named": "ignore",
			"asyncArrow": "ignore"
		}],
        "indent": ["error", 4]
	}
}
